<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664934069288-54reakfl6asvcd0lqkvs4qh6t2b3q18s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664934069288-54reakfl6asvcd0lqkvs4qh6t2b3q18s</string>
	<key>API_KEY</key>
	<string>AIzaSyA9pp5U_2uu_BQmGF6exEBZ0ZX_K60dcQE</string>
	<key>GCM_SENDER_ID</key>
	<string>664934069288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Fulhaal-Patrans10</string>
	<key>PROJECT_ID</key>
	<string>pa-transport</string>
	<key>STORAGE_BUCKET</key>
	<string>pa-transport.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664934069288:ios:7a836409e4ac8d54d4711d</string>
</dict>
</plist>